:host {
    .shaking {
        color: red;
        animation: shaking .2s infinite;
    }
    @keyframes shaking {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(10px);
        }

        100% {
            transform: translateX(0);
        }
    }
}
