<div class="osmi-todo-control" fxLayout="column">
  <div class="add-new-list" fxLayout="row" fxLayoutGap="10px">
    <mat-form-field fxFlex>
      <input #newList matInput [placeholder]="parentTodo ? 'Enter new sub task or list' : 'Enter new task or list'" [value]="listInputValue | async"
        (input)="updateListInputValue($event.target.value)" (keydown.enter)="addList()" [class.shaking]="isListInputShaking | async">
    </mat-form-field>
    <div fxLayoutAlign="center center">
      <button mat-stroked-button color="accent" (click)="addList()">
        <mat-icon>add</mat-icon> add</button>
    </div>
  </div>
</div>
