<div fxLayout="column" fxFlexFill>
  <div class="todo-primary-actions">
    <button mat-stroked-button color="primary" [routerLink]="['/lists', parent?._id]" *ngIf="parent">
      <mat-icon>arrow_left</mat-icon> Back to {{parent?.name}}</button>
    <button mat-stroked-button color="primary" [routerLink]="['/lists']" *ngIf="self && !parent">
      <mat-icon>arrow_left</mat-icon> Back to overview</button>
    <button mat-stroked-button color="accent" (click)="copySelf()" *ngIf="self">
      <mat-icon>file_copy</mat-icon> Copy {{self?.name}}</button>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxFlex>
    <div class="todo-metadata" fxLayout="column" *ngIf="self">
      <mat-form-field>
        <input matInput placeholder="Name" [value]="self.name">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="dp3" placeholder="Due at" [value]="self.dueDate" (dateChange)="changeDate($event.value)">
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-chip-list *ngIf="self.dueDate">
        <mat-chip>{{self.dueDate | momentFromNow}}</mat-chip>
      </mat-chip-list>
    </div>

    <div fxLayout="column" fxFlex class="todo-subtasks">
      <div *ngIf="self" class="todo-heading">Sub tasks</div>

      <osmi-todo-input [parentTodo]="self"></osmi-todo-input>

      <div fxLayout="row" fxFlex>
        <div class="todo-lists" fxFlexFill fxLayout="column">
          <div class="todo-lists" fxFlex fxLayout="column">
            <div *ngFor="let todo of children | async">
              <osmi-todo-list-item [todo]="todo" (updated)="upsertTodo($event)" (deleted)="deleteTodo($event)"></osmi-todo-list-item>
              <mat-divider></mat-divider>
            </div>
            <div *ngIf="isListEmpty" class="osmi-todo-empty-list" fxLayout="column" fxFlex fxLayoutAlign="center center">
              <mat-icon>list</mat-icon>
              <span>This place looks empty</span>
              <span class="small-hint">Add some tasks or lists to get started</span>
            </div>
          </div>
          <div fxHide.gt-xs>
            <button mat-fab color="accent" class="todo-mobile-add" (click)="openAddListDialog()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
