:host {
    .todo-list-controls {
        color: rgba(0,0,0,0.1);

        .add-new-list {
            cursor: pointer;
            color: rgba(0,0,0,0.6);

            &.selected {
                border: 2px dashed rgba(255, 0, 0, 0.5);
                animation: pulsate 1s ease-out infinite;
            }

            &:hover {
                color: black;
            }

            mat-icon {
                width: 1em;
                height: 1em;
                font-size: 1em;
                padding: 0 10px 0 0;
            }
        }
        @keyframes pulsate {
            0% {
                border-color: rgba(255, 0, 0, 0.2);
            }

            50% {
                border-color: rgba(255, 0, 0, 0.5);
            }

            100% {
                border-color: rgba(255, 0, 0, 0.2);
            }
        }

        .next-list,
        .previous-list {
            cursor: pointer;

            mat-icon {
                width: 80px;
                height: 80px;
                font-size: 80px;
            }
        }
    }

    .todo-lists {
      overflow: auto;
    }

    .todo-mobile-add {
      position: fixed;
      bottom: 20px;
      right: 20px;
    }
}
