:host {
    padding: 20px;

    .todo-list-controls {
        color: rgba(0,0,0,0.1);
        padding: 0 0 40px;

        .add-new-list {
            cursor: pointer;
            padding: 0 20px;
            color: rgba(0,0,0,0.6);

            &:hover {
                color: black;
            }

            mat-icon {
                width: 1em;
                height: 1em;
                font-size: 1em;
                padding: 0 10px 0 0;
            }
        }

        .next-list,
        .previous-list {
            cursor: pointer;

            mat-icon {
                width: 80px;
                height: 80px;
                font-size: 80px;
            }
        }
    }
}
