<div class="osmi-todo-list" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <div fxLayout="row" fxLayout.xs="column" fxFlex *ngIf="isEditing">
    <mat-form-field fxFlex>
      <input #nameInput matInput placeholder="Name of the list" [(ngModel)]="name" (keyup.enter)="updateList()" autofocus>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="dp3" placeholder="Due at" [(ngModel)]="dueDate" (keyup.enter)="updateList()" (dateChange)="changeDate($event.value)">
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxFlex *ngIf="!isEditing" [routerLink]="['/lists', todo.id]">
    <div fxLayout="row" fxFlex>
      <div fxFlex>{{todo?.name}}</div>
    </div>
    <mat-chip-list *ngIf="todo.dueDate" fxHide.xs>
      <mat-chip><mat-icon color="primary" class="todo-important" *ngIf="isImportant" matTooltip="Less than 24 hours">priority_high</mat-icon> {{todo.dueDate | moment}}</mat-chip>
    </mat-chip-list>
    <div class="todo-duedate" *ngIf="todo.dueDate" fxHide.gt-xs>due {{todo.dueDate | moment}}</div>
  </div>

  <div class="todo-actions mobile" fxHide.gt-xs *ngIf="!isEditing">
    <mat-icon color="accent" [matMenuTriggerFor]="mobileMenu">more_vert</mat-icon>
    <mat-menu #mobileMenu="matMenu">
      <button mat-menu-item (click)="copy()">
        <mat-icon aria-label="copy list" color="accent">file_copy</mat-icon>
        Copy
      </button>
      <button mat-menu-item (click)="editList()">
        <mat-icon aria-label="edit list" color="accent">edit</mat-icon>
        Edit
      </button>
      <button mat-menu-item (click)="deleteList()">
        <mat-icon aria-label="delete list" color="accent">delete</mat-icon>
        Delete
      </button>
    </mat-menu>
  </div>
  <div class="todo-actions" fxHide.xs *ngIf="!isEditing">
    <button mat-icon-button color="accent" (click)="copy()" matTooltip="Copy">
      <mat-icon aria-label="copy list">file_copy</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="editList()" matTooltip="Edit">
      <mat-icon aria-label="edit list">edit</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="deleteList()" matTooltip="Delete">
      <mat-icon aria-label="delete list">delete</mat-icon>
    </button>
  </div>
  <button mat-icon-button color="accent" *ngIf="isEditing" matTooltip="Save" (click)="updateList()">
    <mat-icon aria-label="delete list">check</mat-icon>
  </button>
</div>
