<div fxLayout="column" fxFlexFill [ngClass.lt-md]="'mobile'">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="osmi-todo-toolbar-title"><span fxHide.lt-md>Thodo App - </span>{{toolbarTitle | async}}</div>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav [mode]="sidenavMode" [opened]="!isMobile" #sidenav>
      <!--osmi-todo-lists [isEditable]="false"></osmi-todo-lists-->
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
