<div fxLayout="column" fxFlexFill>
  <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm><mat-icon>menu</mat-icon></button>
      OSMI Todo App
    </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav [mode]="sidenavMode" [opened]="!isMobile" #sidenav>
      <!--osmi-todo-lists [isEditable]="false"></osmi-todo-lists-->
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
