:host {
    main {
        max-width: 800px;
        margin: auto;
    }

    mat-sidenav {
        width: 300px;
        padding: 10px;

        .osmi-todo-logo {
            padding: 10px 40px;

            img {
                height: 100px;
                opacity: .3;
            }
        }
    }

    mat-toolbar {
        min-height: 64px;
        padding: 0 40px 0 20px;

        .osmi-todo-toolbar-title {
            max-width: 800px;
            margin: auto;

            img {
                width: 40px;
                margin: 0 10px 0 0;
            }
        }
    }

    mat-sidenav-content {
        padding: 20px 40px 40px;
        height: calc(100vh - 64px - 60px);
        overflow: auto;
    }

    .mobile {
        mat-sidenav-content {
            padding: 10px 20px 20px;
            height: calc(100vh - 64px - 30px);
        }
    }
}
