<div fxLayout="column" fxFlexFill [ngClass.lt-md]="'mobile'">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="osmi-todo-toolbar-title" fxLayout="row" fxFlex>
      <div fxHide.lt-lg fxFlex="25%"></div>
      <div fxLayoutAlign="start center" fxFlex>
        <img src="/assets/thb-logo.png" alt="THB" fxHide.xs>
        <span fxFlex>Thodo</span>
        <span>v0.08</span>
      </div>
      <div fxHide.lt-md fxFlex="25%"></div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav [mode]="sidenavMode" [opened]="false" #sidenav fxLayout="column">
      <div class="osmi-todo-logo" fxLayoutAlign="center center">
        <img src="assets/thodo-logo.svg">
      </div>
      <button mat-button color="primary" fxLayoutAlign="start center" routerLink="lists" (click)="closeSidenav()">
        <mat-icon>list</mat-icon> Manage Lists</button>
      <button mat-button color="primary" fxLayoutAlign="start center" (click)="sidenav.toggle()" *ngIf="sidenav.opened" fxHide.lt-sm>
        <mat-icon>arrow_left</mat-icon> Close menu</button>
      <button mat-button color="primary" (click)="sidenav.toggle()" *ngIf="!sidenav.opened" fxHide.lt-sm>
        <mat-icon>arrow_right</mat-icon> Open menu</button>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="row">
      <!-- [@routerTransition]="getState(o)"-->
      <aside fxHide.lt-lg fxFlex="25%"></aside>
      <main fxFlex>
        <router-outlet #o="outlet"></router-outlet>
      </main>
      <aside fxHide.lt-md fxFlex="25%" fxLayoutAlign="center start">
        <img [src]="qrCodeSvg">
      </aside>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
